body{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 36px;
    color: #000;
    font-family: 'Open Sans';
    text-align: center;
    }
#foto{
    text-align: center;
}
ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px dashed;
    border-top: 3px dashed;
    border-left: 3px dashed;
    border-right: 3px dashed;
    background: lightblue;
    text-align: center;
}
#primer_contenido{
    text-align: center;
}
#parrafo1{
    text-align: justify;
}
#parrafo2{
    text-align: center;
}
#ordenada1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px dashed;
    border-top: 3px dashed;
    border-left: 3px dashed;
    border-right: 3px dashed;
    background: lightgreen;
    text-align: center;
}
#ordenada2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px dashed;
    border-top: 3px dashed;
    border-left: 3px dashed;
    border-right: 3px dashed;
    background: lightgoldenrodyellow;
    text-align: center;
}
table{
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px dashed;
    border-top: 3px dashed;
    border-left: 3px dashed;
    border-right: 3px dashed;
    background: lightpink;
    text-align: center;
}
#comidas{
    text-align: center;
}
#tablacomidas{
    border-top: 100px;
}